/* 
  ____ _                   _            
 / ___| | __ _ ___ ___    | | __ _ _ __ 
| |  _| |/ _` / __/ __|_  | |/ _` | '__|
| |_| | | (_| \__ \__ \ |_| | (_| | |   
 \____|_|\__,_|___/___/\___/ \__,_|_|    

© 2024 Greg Sullivan

*/

.glassjar__calendar__seven-row {
  display        : flex;
  justify-content: space-around;
}

.glassjar__calendar__seven-row > * {
  flex : 2;
  width: 100%;
}

.glassjar__calendar__day__marker {
  background   : var(--color-secondary);
  border-radius: 1rem;
  bottom       : 0.2rem;
  height       : 0.4rem;
  position     : absolute;
  width        : 0.4rem;
}
.glassjar__calendar__day {
    align-items    : center;
    aspect-ratio   : 1;
    box-sizing     : border-box;
    display        : flex;
    justify-content: center;
    margin         : 1px;
    position       : relative;
    text-align     : center;
}

.glassjar__calendar__day h1 {
    font-size: 1.2rem;
}

.glassjar__calendar__seven-row.glassjar__calendar__seven-row--header {
    padding   : .2rem 0;
    text-align: center;
}

.glassjar__calendar__navigation {
    align-items    : center;
    display        : flex;
    justify-content: space-around;
}