/* 
  ____ _                   _            
 / ___| | __ _ ___ ___    | | __ _ _ __ 
| |  _| |/ _` / __/ __|_  | |/ _` | '__|
| |_| | | (_| \__ \__ \ |_| | (_| | |   
 \____|_|\__,_|___/___/\___/ \__,_|_|    

© 2024 Greg Sullivan

*/

.glassjar__button,
button {
  background    : var(--color-bright);
  border        : 1px solid var(--color-border);
  border-radius : 0.5rem;
  box-sizing    : border-box;
  color         : var(--color-brand);
  cursor        : pointer;
  font-weight   : 300;
  outline       : none;
  padding       : .5rem;
  position      : relative;
  transition    : .25s ease;
}

.glassjar__button.glassjar__button--primary {
  background: linear-gradient(150deg, #c27d48, #885632, #885632, #99663e);
  border    : 1px solid #8c5c38;
  color     : var(--color-bright);
}

.glassjar__button.glassjar__button--primary:focus {
  border: 1px solid var(--color-bright);
}

.glassjar__button.glassjar__button--small {
  aspect-ratio: 1;
  font-size   : 1rem;
  height      : 2.0rem;
  padding     : 0.5rem;
}

button.selected,
.glassjar__button.selected {
  background  : var(--color-secondary);
  border-color: transparent;
  color       : var(--color-bright);
}

.glassjar__button.glassjar__button--full-width {
  flex : 2;
  width: 100%;
}

.glassjar__button.glassjar__button--warn {
  background : var(--color-bright);
  border     : 1px solid var(--color-danger);
  color      : var(--color-danger);
  flex       : initial;
  font-weight: 500;
  width      : unset;
}

input,
textarea,
input[type='date'] {
  -webkit-appearance: none;
  background        : var(--color-bright);
  border            : 1px solid var(--color-border);
  border-radius     : 0.5rem;
  box-sizing        : border-box;
  color             : var(--color-brand);
  height            : 48px;
  min-width         : 100%;
  outline           : none;
  padding           : 1.1rem .5rem 0.4rem .5rem;
  position          : relative;
  transition        : .25s ease;
  width             : 100%;
}

button.glassjar__password-toggle {
  background: none;
  border    : none;
  outline   : none;
  position  : absolute;
  right     : 0;
  top       : 50%;
  transform : translateY(-50%);
  z-index   : 1;
}

::-ms-reveal {
  display: none;
}

input::-webkit-date-and-time-value {
  text-align: left;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus,
select,
input[type='date']:focus {
  border: 1px solid #8c5c38;
}

.glassjar__form {
  display       : flex;
  flex-direction: column;
  gap           : .5rem;
}

.glassjar__form__input-group {
  position: relative;
  width   : 100%;
}

label {
  color      : rgb(36, 36, 36);
  font-size  : 0.8rem;
  font-weight: 300;
}

input+label,
textarea+label {
  left          : .5rem;
  opacity       : .75;
  pointer-events: none;
  position      : absolute;
  top           : 50%;
  transform     : translateY(-50%);
  transition    : .25s ease;
}

.glassjar__form__input-group input:not(:placeholder-shown)+label,
.glassjar__form__input-group input:focus+label,
.glassjar__form__input-group textarea:not(:placeholder-shown)+label,
.glassjar__form__input-group textarea:focus+label {
  opacity  : 1;
  top      : 0.2rem;
  transform: translateY(0);
}

.glassjar__form__input-group input::placeholder,
.glassjar__form__input-group textarea::placeholder {
  opacity: 0;
}

/* Sub Groups */

.glassjar__form__input-sub-group {
  background: var(--color-bright);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
}

  /* Select */

select {
  -webkit-appearance     : none;
  -moz-appearance        : none;
  appearance             : none;
  background             : var(--color-bright);
  background-image       : none;
  border                 : 1px solid var(--color-border);
  border-radius          : 0.5rem;
  box-sizing             : border-box;
  color                  : var(--color-brand);
  font-weight            : 500;
  height                 : 48px;
  outline                : none;
  padding                : 1.1rem 1.5rem 0.4rem .5rem;
  position               : relative;
  -webkit-text-fill-color: var(--color-brand);
  text-overflow          : ellipsis;
  width                  : 100%;

}

.glassjar__form__input-group.glassjar__form__input-group--drop::after {
  bottom                : 0.6rem;
  content               : '\f078';
  display               : block;
  font                  : var(--fa-font-solid);
  -webkit-font-smoothing: antialiased;
  font-weight           : 900;
  height                : 1rem;
  pointer-events        : none;
  position              : absolute;
  right                 : 1.1rem;
  text-rendering        : auto;
  top                   : 50%;
  transform             : translateY(-50%);
  z-index               : 1;
}

.glassjar__form__input-group.glassjar__form__input-group--drop label {
  display : block;
  left    : .5rem;
  opacity : 1;
  position: absolute;
  top     : 0.2rem;
  z-index : 2;
}

  /* Check Box */

.glassjar__form__input-group.glassjar__form__input-group--check {
  align-items    : center;
  display        : flex;
  flex           : 2;
  justify-content: space-between;
  min-height     : 2rem;
  min-width      : 100%;
  position       : relative;
  width          : 100%;
}

.glassjar__form__input-group.glassjar__form__input-group--check input[type='checkbox'] {
  display: none;
}

.glassjar__form__input-group.glassjar__form__input-group--check input+label {
  color         : var(--color-brand);
  cursor        : pointer;
  display       : block;
  font-size     : 1rem;
  font-weight   : 500;
  padding-right : 3rem;
  pointer-events: auto;
  position      : initial;
  transform     : none;
}

.glassjar__form__input-group.glassjar__form__input-group--check label::before {
  background   : #fff;
  border       : 1px solid var(--color-border);
  border-radius: 0.5rem;
  box-sizing   : border-box;
  content      : '';
  height       : 2rem;
  position     : absolute;
  right        : 0;
  top          : 0;
  transition   : .5s ease;
  width        : 2rem;
}

.glassjar__form__input-group.glassjar__form__input-group--check input[type='checkbox']:checked+label::before {
  background  : var(--color-secondary);
  border-color: transparent;
}

.glassjar__form__input-group.glassjar__form__input-group--check label::after {
  color     : var(--color-bright);
  content   : '\f00c';
  display   : block;
  font      : var(--fa-font-solid);
  font-size : 1.2rem;
  opacity   : 0;
  position  : absolute;
  right     : 0;
  text-align: center;
  top       : .4rem;
  transform : scale(.5);
  transition: .25s ease;
  width     : 2rem;
}

.glassjar__form__input-group.glassjar__form__input-group--check input[type='checkbox']:checked+label::after {
  opacity  : 1;
  transform: scale(1);
}

.glassjar__text-button {
  background: none;
  border: none;
  color: var(--color-interaction);
  cursor: pointer;
  font-weight: 300;
  transition: .15s ease;
}

.glassjar__text-button.glassjar__text-button--warn {
  color: var(--color-danger);
  font-weight: 500;
}

.glassjar__text-button.glassjar__text-button--primary {
  font-weight: 500;
}

.glassjar__text-button.glassjar__text-button--hidden {
  pointer-events: none;
  visibility: hidden;
}

.glassjar__text-button:disabled {
  color: var(--color-brand);
  opacity: .25;
  pointer-events: none;
}

  /* Override form defaults */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--color-bright) inset !important;
}

/* Errors */
.glassjar__form__input-group__error {
  color      : var(--color-danger);
  font-size  : .8rem;
  font-weight: 500;
  opacity    : 1;
  transition : .25s ease;
}

.glassjar__form__input-group input.error,
.glassjar__form__input-group select.error {
  border: 1px solid var(--color-danger);
}

.glassjar__form__input-group__error:empty {
  opacity: 0;
}

.glassjar__landing__form .glassjar__flex > * {
  flex: 2;
}

.glassjar__error-block {
  padding: 0 1.5rem .5rem 1.5rem;
}










