        /* 
  ____ _                   _            
 / ___| | __ _ ___ ___    | | __ _ _ __ 
| |  _| |/ _` / __/ __|_  | |/ _` | '__|
| |_| | | (_| \__ \__ \ |_| | (_| | |   
 \____|_|\__,_|___/___/\___/ \__,_|_|    

© 2024 Greg Sullivan

*/

.glassjar__list-item {
  align-items    : center;
  border-radius  : 1rem;
  box-sizing     : border-box;
  display        : flex;
  gap            : .5rem;
  justify-content: space-between;
  padding        : .5rem 1rem .5rem .5rem;
  position       : relative;
}

.glassjar__list-item__backing {
  border-radius: 1.4rem;
  height       : 100%;
  left         : 0;
  opacity      : 0.1;
  position     : absolute;
  top          : 0;
  width        : 100%;
  z-index      : -1;
}

.glassjar__list-item__icon {
  align-items    : center;
  aspect-ratio   : 1;
  display        : flex;
  justify-content: center;
  padding        : 0.5rem;
  position       : relative;
  text-align     : center;
  z-index        : 1;
}

.glassjar__list-icon {
  color    : white;
  font-size: 1.5rem;
}

.glassjar__list-icon__backing {
  border-radius: 1.1rem;
  height       : 100%;
  left         : 0;
  opacity      : 0.75;
  position     : absolute;
  top          : 0;
  width        : 100%;
  z-index      : -1;
}

.glassjar__recurring-icon {
  align-items    : center;
  aspect-ratio   : 1;
  background     : white;
  border-radius  : 10rem;
  bottom         : -.8rem;
  box-sizing     : border-box;
  display        : flex;
  font-size      : .8rem;
  height         : 1.6rem;
  justify-content: center;
  padding        : 0.4rem;
  position       : absolute;
  right          : -.8rem;
  text-align     : center;
  width          : 1.6rem;
}

.glassjar__list-item h4 {
  font-weight: 500;
  margin     : 0;
}

.glassjar__list-item h5 {
  font-weight: 300;
  margin     : 0;
}

.glassjar__list-item__body {
  flex : 2;
  width: 100%;
}

.glassjar__list-item-row {
  display        : flex;
  justify-content: space-between;
}

.glassjar__list-item + .glassjar__list-item {
      /* border-top : 1px solid black; 
  padding-top: .5rem;*/
  margin-top : .5rem;
}