      /* 
  ____ _                   _            
 / ___| | __ _ ___ ___    | | __ _ _ __ 
| |  _| |/ _` / __/ __|_  | |/ _` | '__|
| |_| | | (_| \__ \__ \ |_| | (_| | |   
 \____|_|\__,_|___/___/\___/ \__,_|_|    

© 2024 Greg Sullivan

*/

:root {
        /* --primary: #7B9F90ff; */
  --color-bright   : #ffffff;
  --color-inverse  : #f0f5f3;
  --color-secondary: #8f8f8f;
  --color-brand    : #202230;
  --color-tertiary : #e9e9e9;
  --color-primary  : #202230;
  --color-accent   : #414450;
  --gradient-brand    : linear-gradient(160deg, #dff3e5, #6e9c88, #6e9c88, #3a6454);
  --gradient-secondary: linear-gradient(
    160deg,
    #bf8975ff,
    #b6806cff,
    #b6806cff,
    #7a4a3fff
  );
}

.glassjar__root {
  /* align-items: center; */
  /* background: var(--color-brand); */
  /* background: #f4f9f5; */
  /* background : linear-gradient(
    160deg,
    #e0f4e6,
    #568371,
    #568371,
    #568371,
    #568371
  ); */
  box-sizing    : border-box;
  display       : flex;
  flex-direction: column;
  /* font-family   : "Space Grotesk", sans-serif; */
  font-family: 'Work Sans', sans-serif;
      /* gap           : 1rem; */
  /* height        : -webkit-fill-available;
  min-height    : 100%; */
  /* max-height    : -webkit-fill-available; */
    /* min-height    : 100vh; */
  overflow: hidden;
  padding : 0rem;

  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  max-height: calc(var(--vh, 1vh) * 100);

}

.glassjar__flex {
  display: flex;
  gap    : 1rem;
  width  : 100%;
}

.glassjar__flex.glassjar__flex--justify-center {
  justify-content: center;
}

.glassjar__flex.glassjar__flex--justify-around {
  justify-content: space-around;
}

.glassjar__flex.glassjar__flex--justify-between {
  justify-content: space-between;
}

.glassjar__swiper {
  background   : var(--color-bright);
  border-radius: 1rem;
  box-sizing   : border-box;
  flex         : 2;
  height       : calc(40vh - 1rem);
  /* margin       : 1rem; */
  max-width    : 100vw;
  width        : calc(100% - 2rem);
}

.slide__holder {
    aspect-ratio: 1;
    box-sizing: border-box;
    height: 100%;
  padding: 1rem;
    width: 100%;
    /* overflow: auto; */
}

button {
  align-self    : center;
  background    : var(--color-secondary);
  border        : none;
  border-radius : 10rem;
  color         : var(--color-bright);
  cursor        : pointer;
  font-weight   : 900;
  outline       : none;
  padding       : 0.5rem 2rem;
  text-transform: uppercase;
}