          /* 
  ____ _                   _            
 / ___| | __ _ ___ ___    | | __ _ _ __ 
| |  _| |/ _` / __/ __|_  | |/ _` | '__|
| |_| | | (_| \__ \__ \ |_| | (_| | |   
 \____|_|\__,_|___/___/\___/ \__,_|_|    

© 2024 Greg Sullivan

*/

.glassjar__panel-group {
  border-radius: 1rem;
  box-sizing   : border-box;
  flex         : 2;
  flex-grow    : 1;
  height       : 100%;
  min-height   : 100%;
  min-width    : 100%;
  overflow-y   : auto;
  padding      : 1rem;
  position     : relative;
  width        : 100%;
}

.glassjar__panel-group.glassjar__panel-group--no-scroll {
  overflow-y: unset;
}

.glassjar__panel-group.glassjar__panel-group--calendar {
  background   : none;
  border-radius: 0;
  margin       : 0;
  max-width    : unset;
  padding      : 0;
}

.glassjar__panel-group.glassjar__panel-group--settings {
  padding-top: 0;
}

.glassjar__primary-nav {
  bottom    : 0;
  position  : fixed;
  right     : 0;
  transition: .25s ease;
  z-index   : 500;
}

.glassjar__primary-nav__backing {
  background    : transparent;
  bottom        : 0;
  left          : 0;
  pointer-events: none;
  position      : fixed;
  right         : 0;
  top           : 0;
  transition    : .5s ease;
  z-index       : -1;
}

.glassjar__primary-nav__backing.open {
  background     : rgb(255 255 255 / 90%);
  pointer-events : auto;
  backdrop-filter: blur(5px);
}

button.glassjar__primary-nav__more {
  border       : none;
  border-radius: 10rem;
  bottom       : 2rem;
  box-shadow   : rgba(0, 0, 0, 0.09) 0px 3px 12px;
  color        : var(--color-interaction);
  font-size    : 3rem;
  position     : absolute;
  right        : 2rem;
  z-index      : 500;
}

.glassjar__primary-nav__more-icon {
  transform : rotate(0deg);
  transition: .2s ease-in;
}

.glassjar__primary-nav__more-icon.open {
  transform: rotate(-45deg);
}

.glassjar__primary-nav__icon-holder {
  bottom        : 6rem;
  display       : flex;
  flex-direction: column;
  gap           : 0rem;
  pointer-events: none;
  position      : absolute;
  right         : 6rem;
  transition    : .2s ease;
}

.glassjar__primary-nav__icon-holder.open {
  gap           : 1rem;
  pointer-events: auto;
}

.glassjar__primary-nav__icon-holder.exiting {
  opacity: 0;
}

.glassjar__primary-nav__icon-holder > button {
  align-items    : center;
  background     : none;
  border         : none;
  display        : flex;
  font-size      : 1.4rem;
  gap            : 0.5rem;
  min-height     : 48px;
  justify-content: flex-end;
  opacity        : 0;
  transition     : .5s ease;
}

.glassjar__primary-nav__icon-holder.open > button {
  opacity: 1;
}
