            /* 
  ____ _                   _            
 / ___| | __ _ ___ ___    | | __ _ _ __ 
| |  _| |/ _` / __/ __|_  | |/ _` | '__|
| |_| | | (_| \__ \__ \ |_| | (_| | |   
 \____|_|\__,_|___/___/\___/ \__,_|_|    

© 2024 Greg Sullivan

*/

.glassjar__nav {
  border       : 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  overflow     : hidden;
  position     : relative;
}

.glassjar__nav.glassjar__nav--primary {
  border-radius: 2rem 2rem 0 0;
  border-top   : 1px solid rgba(0, 0, 0, 0.05);
  bottom       : -4px;
  position     : absolute;
  width        : 100%;
  z-index      : 9000;
}

.glassjar__nav__icon-holder {
  background : var(--color-bright);
  bottom     : 0;
  display    : flex;
  height     : 100%;
  overflow   : hidden;
  padding-top: .2rem;
  position   : relative;
  width      : 100%;
  z-index    : 1;
  backdrop-filter: blur(20px);
  background     : rgb(255 255 255 / 35%);
}

.glassjar__nav.glassjar__nav--primary .glassjar__nav__icon-holder {
  backdrop-filter: blur(20px);
  background     : rgb(255 255 255 / 35%);
  padding-bottom : 1rem;
}

.glassjar__nav__button {
  align-items    : center;
  background     : none;
  border         : none;
  color          : var(--color-secondary);
  display        : flex;
  flex           : 2;
  flex-direction : column-reverse;
  font-size      : .9rem;
  font-weight    : 500;
  gap            : 0.25rem;
  justify-content: center;
  transition     : .4s ease;
  width          : 100%;
}

.glassjar__nav__button.active {
  color: var(--color-primary);
}

.glassjar__nav__button i {
  font-size: 1.2rem;
}

.glassjar__nav__underline {
  align-items    : center;
  display        : flex;
  height    : .25rem;
  justify-content: center;
  pointer-events : none;
  position  : absolute;
  top            : 0;
  transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
                  width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
                  color .5s;
  z-index        : 1;
}

.glassjar__nav__underline > div {
  background   : var(--gradient-brand);
  border-radius: 2rem;
  height       : 100%;
  width        : 30%;
}

.glassjar__nav__backing-shape {
  align-items    : center;
  display        : flex;
  height    : 100%;
  justify-content: center;
  pointer-events : none;
  position  : absolute;
  top            : 0;
  transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
                  width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
                  color 0.5s ease;
}

.glassjar__nav__backing-shape > div {
  background   : var(--gradient-brand);
  border-radius: 2rem;
  height       : 80%;
  opacity      : .15;
  width        : 90%;
}

.glassjar__nav__backing-shape:nth-child(2) {
  transition-delay: 0.05s;
}

.glassjar__nav__backing-shape:nth-child(3) {
  transition-delay: 0.1s;
}

.glassjar__nav__backing-shape:nth-child(4) {
  transition-delay: 0.15s;
}

.glassjar__nav__backing-shape:nth-child(5) {
  transition-delay: 0.2s;
}

.glassjar__nav__group .glassjar__nav__body {
  max-height: 100%;
  overflow  : auto;
}

.glassjar__nav__group {
  display       : flex;
  flex-direction: column;
  max-height    : 100%;
  min-height    : 100%;
  overflow      : hidden;
  position      : relative;
}

.glassjar__nav__group .glassjar__nav {
  flex-shrink: 0;
}

.glassjar__nav__body {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
}
