    /* 
  ____ _                   _            
 / ___| | __ _ ___ ___    | | __ _ _ __ 
| |  _| |/ _` / __/ __|_  | |/ _` | '__|
| |_| | | (_| \__ \__ \ |_| | (_| | |   
 \____|_|\__,_|___/___/\___/ \__,_|_|    

© 2024 Greg Sullivan

*/

.glassjar__graph-holder {
  display       : flex;
  flex          : 2;
  flex-direction: column;
  min-height    : 100%;
  position      : relative;
}

.glassjar__graph-holder__sub {
  box-sizing: border-box;
  flex      : 2 1;
  position  : relative;
}

.glassjar__panel-group.glassjar__panel-group--graph {
  box-sizing    : border-box;
  display       : flex;
  flex-direction: column;
  max-height    : 100%;
  position: relative;
}

.glassjar__graph-holder__sub-sub {
  bottom    : 0;
  box-sizing: border-box;
  height    : 100%;
  left      : 0;
  position  : absolute;
  right     : 0;
  top       : 0;
  width     : 100%;
}

.glassjar__graph-holder__sub-sub > div {
  height  : 100%;
  width   : 100%;
  position: relative;
}

.glassjar__graph-range {
  pointer-events: none;
  width         : 100%;
  text-align    : center;
  position      : absolute;
  font-weight   : 500;
  font-size     : .8rem;
  color         : #8f8f8f;
  text-shadow: var(--text-stroke);
}

.glassjar__graph-range.glassjar__graph-range-max {
  top: .5rem;
}

.glassjar__graph-range.glassjar__graph-range-min {
  bottom: .5rem;
}

.glassjar__custom-tooltip {
  background   : var(--color-bright);
  border       : 2px solid #ccc;
  border-radius: .5rem;
  box-sizing   : border-box;
  padding      : .25rem .5rem;
  text-align   : center;
}

.glassjar__custom-tooltip tr td {
  text-align: left;
}

.glassjar__custom-tooltip tr td:last-of-type {
  text-align: right;
}

.glassjar__custom-tooltip h3 {
margin: 0;
}

.glassjar__custom-tooltip h4 {
  font-weight: 300;
  margin     : 0;
}

.glassjar__graph-holder__range-change {
  position: absolute;
  top     : 0;
  right   : 1rem;
}

.glassjar__graph-holder__range-change .glassjar__button.glassjar__button--small {
  width       : unset;
  aspect-ratio: unset;
  height      : 2rem;
  padding     : 0.5rem;
  position    : absolute;
  right       : 0rem;
  top         : 0;
  white-space : nowrap;
}

button.glassjar__button.glassjar__button--small {
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-weight: 500;
  color: var(--color-secondary);
  font-size: 0.9rem;
  background: #fafcfa;
}

.glassjar__svg-graph h2 {
  position   : absolute;
  bottom     : 0;
  left       : 0rem;
  text-align : left;
  font-weight: 500;
  font-size  : 1rem;
  padding    : 0.5rem;
  margin     : 0;
  
  text-shadow: var(--text-stroke);

}

.glassjar__svg-graph h2 + h2 {
  left : unset;
  right: 0;
}


.glassjar__svg-graph .glassjar__svg-graph__data {
  position: absolute;
  top: 0;
  left: .75rem;
  z-index: 1;
  transition: .5s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.glassjar__svg-graph .glassjar__svg-graph__data.glassjar__svg-graph__data--end {
  left: unset;
  right: .75rem;
  align-items: flex-end;
}

.glassjar__svg-graph h5 {
  display: inline-block;  
  margin: 0;
  text-align: center;
}


.glassjar__svg-graph__month-box {
  pointer-events: none;
  transition: .5s ease;
  opacity: 0.1;
  box-sizing: border-box;
  padding: 0 2px;
  background: linear-gradient(0deg, transparent, black, black, black, black, black, transparent);
}


.glassjar__svg-graph svg {
  position: relative;
}