  /* 
  ____ _                   _            
 / ___| | __ _ ___ ___    | | __ _ _ __ 
| |  _| |/ _` / __/ __|_  | |/ _` | '__|
| |_| | | (_| \__ \__ \ |_| | (_| | |   
 \____|_|\__,_|___/___/\___/ \__,_|_|    

© 2024 Greg Sullivan

*/

.glassjar__graph-holder {
  display       : flex;
  flex          : 2;
  flex-direction: column;
  min-height    : 100%;
  position      : relative;
}

.glassjar__graph-holder__sub {
  box-sizing: border-box;
  flex      : 2 1;
  position  : relative;
}

.glassjar__panel-group.glassjar__panel-group--graph {
  box-sizing    : border-box;
  display       : flex;
  flex-direction: column;
  max-height    : 100%;
  /* min-height    : 100%; */
  position      : relative;
}

.glassjar__graph-holder__sub-sub {
  bottom    : 0;
  box-sizing: border-box;
  height    : 100%;
  left      : 0;
  position  : absolute;
  right     : 0;
  top       : 0;
  width     : 100%;
}