/* 
  ____ _                   _            
 / ___| | __ _ ___ ___    | | __ _ _ __ 
| |  _| |/ _` / __/ __|_  | |/ _` | '__|
| |_| | | (_| \__ \__ \ |_| | (_| | |   
 \____|_|\__,_|___/___/\___/ \__,_|_|    

© 2024 Greg Sullivan

*/

.glassjar__lazy-list__header {
  background:white;
  /* color: var(--color-bright); */
  margin    : 0;
  /* padding   : 1.5rem 0 0.5rem 0; */
  position  : sticky;
  top       : -1px;
  width     : 100%;
  z-index   : 2;
  text-align: left;
}

.glassjar__search-sort {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 1rem;
}

.glassjar__search-sort i {
  font-size: 1.4rem;
}

.glassjar__search-sort__field {
  flex: 2;
  width: 100%;
  position: relative;
}

.glassjar__search-sort__field-clear {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-tertiary);
}

.glassjar__menu.glassjar__sort-menu .glassjar__menu__body {
  width: 50vw;
}

.glassjar__panel-group.glassjar__panel-group--transactions {
  padding: 0;
}

.glassjar__transaction-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  min-height: 100%;
}

.glassjar__transaction-view {
  overflow: auto;
  max-height: 100%;
  padding: 0 1rem;
}

.glassjar__transaction-list__header {
  padding: 0 1rem;
}